<p>
<%= form_thing.label(:title) %>
<%= form_thing.text_area(:title) %>
-
<%= form_thing.label(:release_date) %>
<%= form_thing.time(:release_date) %>
-
<%= form_thing.label(:rating) %>
<%= form_thing.text_area(:rating).to_f %>
-
<%= form_thing.label(:console) %>
<%= form_thing.text_area(:body) %>
</p>