<p>
<%= form_thing.label(:title) %>
<%= form_thing.text_area(:title) %>
<br>
<%= form_thing.label(:release_date) %>
<%= form_thing.date_field(:release_date) %>
<br>
<%= form_thing.label(:rating) %>
<%= form_thing.number_field(:rating, in: 0.0..10.0, step: 0.1) %>
<br>
<%= form_thing.label(:console) %>
<%= form_thing.select(:console, options_for_select([['Xbox'], ['Playstation'], ['Nintendo'], ['PC', 3]])) %>
</p>