<% game = @game %>

<%= game.title %>
<br>
<%= game.console %>
<br>
<%= game.release_date %>
<br>
<%= game.rating %>
<br>
<li><%= link_to("Back", :back) %></li>
<li><%= link_to("edit", edit_game_path(game.id))%></li>
<li><%= link_to("delete", game_path(game.id), method: :delete, data: {confirm: "Are you really sure you want to delete this game?"}) %></li>